
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  background-color: var(--dark-grey);
}

.title {
  color: var(--light-grey);
  text-align: center;
  margin: 25px 0;
}

#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dessert-card {
  background-color: var(--light-grey);
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 350px; /* Consistent height for all cards */
  box-sizing: border-box;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.dessert-image {
  width: 100%;
  height: 150px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 10px;
  margin-bottom: 10px; /* Space between image and content */
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  color: var(--dark-grey);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

#cart-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.add-to-cart-btn {
  margin: 30px auto 10px;
}

/* Cart UI */
#cart-container {
  position: fixed;
  top: 12%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: none; /* Initially hidden */
}

#cart-container.show {
  display: block; /* Show when toggled */
  top: 12%;
  right: 0;
  transform: translateY(-50%);
}

.product {
  margin: 25px 0;
}

.product-count {
  display: inline-block;
  margin-right: 10px;
}

.product-category {
  margin: 10px 0;
}

@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
  }

  .dessert-card {
    flex: 1 0 21%;
  }

  #cart-container {
    width: 300px;
  }
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0);
  transform: translateX(200%);
  background-color: var(--gold);
  color: var(--dark-grey);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.toast.show {
  opacity: 1;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 1rem;
  border: 2px solid var(--gold);
  border-radius: 5px;
}
